name: task_manager
description: A Flutter task management app with API integration and local persistence
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/reg1.png
    - assets/images/reg2.png
    - assets/images/reg3.png
    - assets/images/reg4.png
    - assets/images/reg5.png
    - assets/images/reg6.png
    - assets/images/reg7.png
    - assets/images/reg8.png